* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-image: url(https://wallpaperplay.com/walls/full/f/8/d/7197.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
  font-family: "Courier New", Courier, monospace;
  color: yellowgreen;
}
header {
  font-family: "Courier New", Courier, monospace;
  color: yellowgreen;
  text-align: center;
}
#bannerBox {
  display: flex;
  border: solid 5px;
  background-color: #302244;
  border: 5px solid transparent;
  border-image: linear-gradient(
    to bottom right,
    #b827fc 0%,
    #2c90fc 25%,
    #b8fd33 50%,
    #fec837 75%,
    #fd1892 100%
  );
  border-image-slice: 1;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  margin: 10px;
}
button {
  text-decoration: none;
}
#playstation {
  background-color: #665cbe;
  color: black;
  font-family: monospace;
  border-radius: 12px;
}
#xBox {
  background-color: #107c10;
  color: black;
  font-family: monospace;
  border-radius: 12px;
}
#pc {
  background-color: #66c0f4;
  color: black;
  font-family: monospace;
  border-radius: 12px;
}
p { 
  border: 5px solid transparent;
  border-image: linear-gradient(
    to bottom right,
    #b827fc 0%,
    #2c90fc 25%,
    #b8fd33 50%,
    #fec837 75%,
    #fd1892 100%);
  border-image-slice: 1;
  background-color: #302244;
  opacity: 0.5;
  height: auto;
  width: auto;
  padding: 10px;
  margin: 10px;

}
#bodyBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
span {
  border: 5px solid transparent;
  border-image: linear-gradient(
    to bottom right,
    #b827fc 0%,
    #2c90fc 25%,
    #b8fd33 50%,
    #fec837 75%,
    #fd1892 100%);
  border-image-slice: 1;
  background-color: #302244;
  opacity: 0.5;
  height: auto;
  width: auto;
  padding: 20px;
  margin: 10px;

}
#imgTwo {
  border: 5px solid transparent;
  border-image: linear-gradient(
    to bottom right,
    #b827fc 0%,
    #2c90fc 25%,
    #b8fd33 50%,
    #fec837 75%,
    #fd1892 100%);
  border-image-slice: 1;
  width: 60%;
  object-fit: contain;
  opacity: 0.5;  
}
#imageThree {
  object-fit: contain;
}
#trollButton {
  background-color: #665cbe;
  color: black;
  font-family: monospace;
  border-radius: 12px;
  padding: 10px;
  margin: 10px;
}
#trollBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

#imageCont{
  display: flex;
  width: 100%;
  position: relative;
  padding: 20px;

}

@media only screen and (max-width: 600px) {
  #imageCont {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}