.djTable{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.squareCont{
    margin: 5px;
    width:400px;
    height:400px;
    display:grid;
    grid-template-columns: 200px 200px;
    grid-row: auto auto;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
}

.square{
    margin: 2px;
    border-radius: 10px;
    border: 1px solid black;
}

.btnCont{
    margin: 5px;
    display: grid;
    height: 400px;
    width: 200px;
    grid-template-columns: 200px 200px 200px ;
    grid-template-rows: auto auto auto;
}

button{
    margin: 2px;
    border: none;
    border-radius: 10px;
}


